*.DS_Store*
public/assets/.DS_Store
app/config/
vendor/*
app/.DS_Store
vendor/.DS_Store
app/start/local.php
Tresorerie.sublime-project
Tresorerie.sublime-workspace
.gitignore
LaLocale.sublime-project
LaLocale.sublime-workspace