.DS_Store
/bootstrap/compiled.php
app/config/*
app/start/local.php
app/start/global.php
/vendor
vendor/*
composer.phar
composer.lock
Thumbs.db
public/.htaccess
public/index.php
public/robots.txt
server.php
