@charset "utf-8";

/* +++++++++++++++++++++++++++++++++++++++++++++  BASE  (éléments html de base ) +++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* –––––––––––––––––––– surcharge Bootstrap –––––––––––––––––––––––– */
body {
    min-height: 2000px;
    color: #252;
}
body, .hero-unit, .navbar-inner {
    background: -moz-radial-gradient(top left, rgba(180,140,0,.5), rgba(180,80,0,0));
    background: -webkit-radial-gradient(top left, rgba(0,0,255,.5), rgba(0,240,0,0));
    background: -ms-radial-gradient(top left, rgba(0,160,0,.5), rgba(0,240,0,0));
    background: -o-radial-gradient(top left, rgba(0,160,0,.5), rgba(0,240,0,0));
    background: radial-gradient(top left, rgba(0,160,0,.5), rgba(0,240,0,0));   
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8383FF', endColorstr='#D8D8FF', GradientType=0);
}

/* –––––––––––––––––––– Perso –––––––––––––––––––––––– */
h1.titrepage {
    margin: 0;
    font-size:26px;
}

h2.item {
    font-size:26px;
}

hr.filetfin{
    border-color: #FFF;
    opacity: 0.4;
    margin: 10px;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

                              LAYOUT (positionnements)

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* –––––––––––––––––––– surcharge Bootstrap –––––––––––––––––––––––– */
.navbar {
    box-shadow: 3px 3px 3px #D8B979;
}

.navbar .nav > li > a {
    color: #CC0000;
    font-size: 16px;
    text-shadow:none;
}


.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus,
.navbar .nav > .active.dropdown > a, .navbar .nav > .active.dropdown > a:hover, .navbar .nav > .active.dropdown > a:focus {
    background-color: #C33;
    box-shadow: 1px 1px 1px 1px #059;
    color: #FFEEEE;
}

/* –––––––––––––––––––– Perso –––––––––––––––––––––––– */

div.zapette {
    text-align: center;
    background-color: #C8A94C;
    width:100%;
    height: 70px;
    position: fixed;
    left: 0px;
    bottom: -30px;
}


footer {
    text-align: center;
}

.logo {
    display: block;
    position: relative;
    top: 8px;
    float: left;
    margin-right: 10px;
    font-size: 36px;
    line-height: 32px;
    font-weight: bold;
    text-rendering: optimizelegibility;
}

ul.nav li:hover{
    color:#0088CC;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

                                     MODULES

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* –––––––––––––––––––– surcharge Bootstrap –––––––––––––––––––––––– */
.alert {
  position: fixed;
  z-index: 100;
}

.label-locale,
.badge-locale {
  background-color: #C9A945;
}

.label-locale a,
.badge-locale a{
  color: #EEE;
  font-size: 14px;
  font-weight: 400;
}

.badge-big {
    font-size: 18px;
    margin-top: 3px;
    margin-right: 3px;
    padding: 6px;
}

.dropdown > .dropdown-menu{
    background-color: #DDBF8B;
    box-shadow: 1px 1px 1px 1px #059;
    color: #FFF;
    display:none;
}

.dropdown:hover > .dropdown-menu{
    display:block;
}

.navbar .nav > li > .dropdown-menu:after {
    border-bottom: 6px solid #DDBF8B;
}

.navbar-inner {
    border-bottom: 6px solid #DDBF8B;
}

div.messages{
    position: fixed;
    left: 0px;
}

.row-fluid [class*="span"].user_widget{
    margin-top: 5px;
}

nav.sections{
    background-color: #C8A94C;
    position: fixed;
    height: 47px;
    top: -44px;
    margin-bottom: 0px;
    left: 0px;
    z-index: 100;
}

nav.sections:hover {
    position: fixed;
    top: 0px;
    z-index: 100;
}

.row-fluid [class*="span"].menus{
    margin-left: 0%;
}

nav.menus {
    position: relative;
    top: 4px;
    margin-left: -2%;
}



/* –––––––––––––––––––– Perso –––––––––––––––––––––––– */

div.success{
    color: #5A5;
    background-color: #EFE;
    border: 1px solid #88EE88;
}

/*  Section coulissante ----------------------------------- */
section.coulisse{
    position:fixed;
    top:22px;
    left:-67%;
    width:50%;
    max-height:100%;
    padding-left:10px;
    font-size: 12px;
    line-height: 14px;
    background-color: #B7DBB7;
    color: #000;
    z-index:10;
    transition-property: left;
    transition-duration: 0.5s;
}

section.coulisse p{
    font-size:1.2em;
    line-height:1.2em;
    margin-top:5px;
}

section.coulisse:hover {
    left:0%;
    transition-property:left;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

div.onglet {
    position:fixed;
    top:0;
    left:0%;
    width: 30px;
    height: 18px;
    background-color: #225522;
    padding: 2px 5px;
    color:#FFF;
    line-height: 16px;
}

section.coulisse:hover div.onglet {
    background-color: #B7DBB7;
    color: #000;
}

div#coulisse_form_creer,
div#coulisse_form_editer{
    display:none;
}

div#coulisse_form_creer.visible,
div#coulisse_form_editer.visible{
    display:block;
}

/*  Section coulissante "dev"  ----------------------------------- */
section.dev{
    background-color: #EAA4A4;
}

section.dev:hover{
    padding-right: 40px;
}

section.dev div.onglet{
    background-color: #CC3333;
    left:40px;
    padding: 2px 5px;
    width: 90px;
}

section.dev:hover div.onglet {
    background-color: #EAA4A4;
}
/*   TABLEAUX */

table {
    width: 100%;
    border-color: #8CB08C;
    border-style: solid;
    border-width: 1px;
}

thead,
tbody{
    transition: opacity 2s;
    border-color: #5F835F;
    border-style: solid;
    border-width: 1px;
    /*visibility:visible;*/
}

thead.replie,
tbody.replie
{
    transition: opacity 0s;
    /*visibility:collapse;*/
    overflow: auto;
    opacity: 0;
    display:table-column-group;
}

thead{
    background-color: #5F835F;
    color: #F5E1B3;
}

td, th {
    border-color: #5F835F;
    border-style: solid;
    border-width: 1px;
    padding: 0px 5px;
}

th {
    font-weight: bold;
}

th.tri_selon {
    background-color: #395D39;
}

th.icone, td.icone {
    color: #395D39;
    width: 20px;
}

th.icone {
    background-color: #C9A945;
}

tr.surlignage:hover{
    border-width: 3px;
    border-color: #777722;
    box-shadow: 0px 0px 16px #aaa;
}

caption.ligne_mois{
    background-color: rgba(255, 255, 255, 0.1);
    color:#5F835F;
    text-align: left;
    padding-left: 5px;
    border: medium none;
    font-size: 16px;
    line-height: 28px;
    box-shadow: 0px 2px 0px #aaa;
}


td.niv2, td.before_niv2{
    border-style:none;
}

td input[type="text"] {
  width: 30px;
  height: 11px;
  margin: 6px 8px;
  opacity: 0.7;
}

td.gras{
    font-weight: bold;
    font-size: 1.12em;
}


/*   NOTES */
p.note {
    line-height : 0.2em;
}

/*   FORMULAIRES */
fieldset{
    border-style:none;
    border-bottom-style:dashed;
    border-width:1px;
    margin: 10px;
    padding: 5px;
}

legend{
    margin-bottom:1px;
}

label{
    font-size: 16px;
    font-weight: 400;
}

input.nobr, label.nobr{
   display:inline;
   margin-right:10px;
}

div.input{
   float:left;
   margin-right:10px;
}

fieldset.invisible,
div.invisible
{
    display:none;
    height:0px;
}


input,
select{
    opacity: 0.8;
    border-radius: 20px;
}

input{
    width:150px
}

input.court{
    width:50px
}

.input-long{
    width:400px
}

input.margright, label.margright, button.margright{
   display:inline;
   margin-right:45px;
}

input[type="checkbox"]:focus{
    vertical-align: top;
    margin-bottom: 20px;
    outline: none;
}

input[type="radio"]:focus{
    outline: none;
}

input[title~=Supprimer]{
    background-color: #00FFFF;
}

div.aide {
 display: inline-block;
 font-size: .9em;
 line-height: 1.1em;
}

textarea{
    width: 700px;
    opacity: 0.7;
}

select#compte_id{
    width: 500px;
}


input[type="checkbox"] {
    margin-bottom: 7px;
    vertical-align: top;
}

form.pointage {
    margin: 0;
}



/* Pages comptes */
div.classeRacine {
   background-color: #E0C396;
   border-style: inset;
   border-width: 1px;
   display: inline-block;
   font-size: 0.9em;
   margin: 5px;
   padding: 2px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

                                     STATES (Etats)

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* –––––––––––––––––––– surcharge Bootstrap –––––––––––––––––––––––– */

/* –––––––––––––––––––– Perso –––––––––––––––––––––––– */
/* Compte type PCO*/
.pco {
    color: #A11;
}


/* Etats des écritures */

.st_prev{
    background-color: #d8b9a2;
    color:#8d6e57;
}

.st_emise{
    background-color: #DDE5C5;
    color:#8d6e57;
}

.st_www{
    color:#8d6e57;
}

/*.st_releve{
}
*/


/* Formulaires en erreur */

input.erreur{
    border-color: #b94a48;
    border-width: 2px;
    background-color: #f2dede;
}

label.erreur{
    color:#b94a48;
}


/*.st_releve{
}
*/



/* Compte actif */
div.compte.actif{
    background-color: #CECA90;
}


/* Montant */
span.depense,
td.depense{
    text-align: right;
    color:#CC3333;
}

span.recette,
td.recette{
    text-align: right;
    color:#0088CC;
}


span.atraduire, label.atraduire, a.atraduire{
    background-color: #EBF8A4;
    color:#F00;
}

h4.nonpublie{
    color:#999999;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

                                     THEMES

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* –––––––––––––––––––– surcharge Bootstrap –––––––––––––––––––––––– */
/* –––––––––––––––––––– Perso –––––––––––––––––––––––– */


.login{
    width:500px;
    height:230px;
    margin:auto;
    background-color: #CECA90;
}


div.ongletGb{
    text-align: center;
    position: relative;
    margin-left: 4px;
    display: inline;
}

.btn-date{
    font-size: 12px;
    padding: 0px 2px;
}





/*  ???????????????????    */


.nota/*{
    font-style: oblique;
    font-weight: bolder;
}
*/
div.contenu /*h5{
    margin-top:-9px;
    }*/



